.top-bar {
    width: 100%;
    height: 75px;
    background: #1E40AF;
    padding: 0;
    top: 0;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.bot-bar {
    margin-top: 30px;
    width: 100%;
    height: 75px;
    background: #1E40AF;
    padding: 0;
    bottom: 0;
}

.title {
    display: inline-block;
    vertical-align: baseline;
}